.container {
    gap: 20px;
    align-items: start;
    display: flex;
    flex-direction: row;
    position: relative;
}

.logo {
    min-width: 40%;
    padding-top: 70px;
    height: fit-content;
}

.logo img {
    width: 100%;
}

section:not(.FAQ) .dropdown_2 {
    position: sticky;
    top: 100px;
    min-width: 40%;
}

section:not(.contact) ul {
    list-style-type: disc;
    padding: 10px 20px;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-size: 1rem;
    line-height: 150%;
}

#shipping_policy .container>div {
    max-width: 100%;
    flex: 1;
    flex-grow: 1;
}

.FAQ .container>div {
    width: 100%;
}

@media (max-width: 992px) {
    .container:has(.dropdown_2) {
        flex-direction: column;
        width: 100%;
        flex: 1;
        padding-top: 100px;
    }
    h2,
    p {
        text-align: left;
    }
    .container:has(.dropdown_2)>div {
        max-width: 100%;
        flex: 1;
    }
    #about_us .container {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    .logo {
        width: 100%;
        padding-top: 0px;
    }
    .dropdown_2 {
        width: 100%;
        flex: 1;
    }
    .FAQ .container>div {
        width: 100%;
    }
    .contact p {
        text-align: center;
    }
}